/*Feeds links*/

.item {
    padding: 8px 11px;
    display: flex;
    align-items: center;
}

.icon {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    display: inline-block;
    line-height: 45px !important;
    text-align: center;
    margin-right: 1rem;
    color: #fff;
    font-size: 20px;
}


.link {
    text-decoration: none;
    font-size: 15px;
    line-height: 28px;
    color: #888;
    transition: all .2s ease;
    font-weight: 600;
}

.link:hover {
    color: #185dca;
}

