/*Feeds links*/

.item {
    padding: 8px 11px;
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    font-size: 15px;
    line-height: 28px;
    color: #888;
    transition: all .2s ease;
    font-weight: 600;
}


.link:hover {
    color: #185dca;
}

.icon:hover{

}