/*Feeds sidebar*/
.item {
    background-color: #fff;
    box-shadow: 0 8px 30px rgba(0, 0, 0, .05);
    padding: 10px 15px;
    margin: 0 10px 10px 10px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.125);
}

.title {
    color: #adb5bd;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: Montserrat,sans-serif;
    padding-left: 20px;
}


.menu {
}

