.header {
    grid-area: header;
    margin: 0 0 10px 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .03);
    background-color: #fff;
    padding: 0 15px;

}

.header img {
    width: 180px;
    padding-left: 10px;
}

.wrapper {
    display: flex;
    align-items: center;
    min-height: 96px;
}

.logo {
    flex: 0 0 280px;
}


.menu {
    display: flex;
    flex: 1 1 auto;

}

.itemsMenu {
    display: flex;
    align-items: center;
    margin: 0 -8px;
}
.itemMenu{
    padding: 0 8px;
}
.input {
   align-self: center;
    width: 350px;
    padding:  8px  16px 8px 48px;
    background-color: #eee!important;
    border-radius: 30px;
}

.input input{
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    font-size: 12px;
    background-color: #eee!important;
    color: #343a40;
    display: inline-block;
    cursor: text;
    width: 285px;
    line-height: 30px;
    border: none;
    outline: none;
}


.settings {
}

.itemsSettings {
    display: flex;
    align-items: center;
    margin: 0 -8px;
}

.itemSettings {
    padding: 0 8px;
}