.footer {
    grid-area: footer;
    margin: 10px 0 0 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.03);
    background-color: #fff;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}
.footer__title{

}

.footer__text{}