.footer {
    grid-area: footer;
    background-color: #e8e8e8;
    margin: 10px 0 0 0;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black;
}
.footer__title{

}

.footer__text{}